body{
  background-color:#CDF2CA;
}

hr {
border: none;
border-top: dotted;
color:#6ECB63;
border-width: 20px;
width: 10%

}

h1{
color:#1C7947;
}
li{
  color:#1C7947;
}

h2{
color:#1C7947;
}

h3{
  color:#1C7947;
}
TD {
color:#1C7947;
}

a{
  text-decoration: none;
  color:#1C7947;
  font-family: Verdane;

}
